{% extends "base.html" %}

{% block title %} 
    {{ country }} Spotify Top 50
{% endblock %}

{% block content %}
    <h4> {{ country }} </h4>

    <iframe class = 'spotify-playlist' src = '{{ country_embed }}'
        allowtransparency = 'true' allow = 'encrypted-media'>
    </iframe><br>

    </h6> Create a new Spotify playlist from this Top 50! </h6>

    <form action = '{{ url_for("login") }}' method = 'POST'>
        {{ generate.generate(class_ = 'form-text') }}
        {{ generate.csrf_token }}
    </form>

    <form action = '{{ url_for("account") }}' target = '_blank' method = 'POST'>
        {{ account.account(class_ = 'form-text') }}
        {{ account.csrf_token }}
    </form> 
{% endblock %}